25 01 08 15             
1                      
34.03 -118.33 500      
24                     
0                      
15500                  
1                      
C:/hysplit/HYSPLIT/    
gdas1.jan25.w2         
./                     
tdump                  
